/* TOP NAV */

header {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 104px;
    left: 0px;
    top: 0px;
    z-index: 99;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    position: absolute;
    left: 4.86%;
    right: 91.67%;
    top: 28.85%;
    bottom: 23.08%;
}

.topNav a {
    float: right;
    color: #CF8996;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topNav a:hover {
    background-color: none;
    color: white;
}

.topNav a.active {
    background-color: none;
    color: #BA7784;
    position: absolute;
    left: 58.33%;
    right: 27.78%;
    top: 38.46%;
    bottom: 29.81%;
}

.topNav a.aboutNav {
    position: absolute;
    left: 73.61%;
    right: 12.5%;
    top: 38.46%;
    bottom: 29.81%;
}   

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 18px;
    position: absolute;
    left: 88.5%;
    right: 5.72%;
    top: 36.5%;
    bottom: 30.77%;
    border: none;
    color: white;
    cursor: pointer;
    background: #CF8996;
    border-radius: 15px;
}

button:hover {
    background: white;
    color: #CF8996;
}

/* HERO SECTION */

section.heroImage {
    
    position: absolute;
width: 100%;
height: 920px;
left: 0px;
top: 104px;
background-color: black;
z-index: 1;
}

.headshot {
    position: relative;
    left: 60px;
    bottom: 13px;
}

.content {
    position: absolute;
width: 309px;
height: 48px;
left: 1000px;
top: 548px;
color: #CF8996;
}

/* SKILLS */

.skills {
    position: absolute;
    width: 100%;
    height: 256px;
    left: 0px;
    top: 1024px;
    
    background: #CF8996;
}



   




